table {
    margin-top: 5vh;
    margin: auto;
    height: 500px;
    width: 500px;
    table-layout: fixed;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
}

table, th, td {
    /* border: 1px solid black; */
}

td {
    text-align: center;
    box-sizing: border-box;
    height: 41.66px;
}



.block {
    background-color: gainsboro;
}

.clickable {
    cursor: pointer;
}

td.clickable.light-blue {
    background-color: #76d5fa;
}

td.clickable.blue {
    background-color: #5296b1;
}

td.clickable:hover {
    background: #999999;
}


td[data-mines-around="1"] {
    color:  blue
}
td[data-mines-around="2"] {
    color:  green
}
td[data-mines-around="3"] {
    color: red
}

/* h2 {
    display: inline-block;
    margin-right: 50px;
} */

.bomb {
    background-color: red;
}

.hidden {
    display: none;
}











.curr-stats-cont {
    position: relative;
    /* background-color: blue; */
    width: 40%;
    height: 10vh;
    margin: auto;
    margin-top: 5vh;
    font-family: monospace;
}

.curr-stats-cont .left-cont {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    /* background-color: crimson; */
    opacity: 0.8;
}

.curr-stats-cont .right-cont {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    /* background-color:darkkhaki; */
    opacity: 0.8;
}

.left-cont .shown-cont {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    /* background-color: darkorange; */
}

.left-cont .flags-cont {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    /* background-color:darkorchid; */
}

.curr-stats-cont .content-cont {
    position: absolute;
    width: 50%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: darkred; */
}

.curr-stats-cont .content-cont h2 {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(0, -50%);
    margin-block-start: unset;
    margin-block-end: unset;
}

.left-cont h2 {
    padding-right: 0.2em;
}

.flag-cont, .square-cont {
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
    /* background-color: turquoise; */
}

.flag-cont .flag {

    font-size: 1.5em;
    left: 0;
    padding-right: 0;
}

.square {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding-right: 80%;
    padding-top: 80%;
    background-color: gainsboro;
    border: 2px solid black;
}






.right-cont .select-cont {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translate(0, -50%);
    box-sizing: border-box;
    width: 30%;
    height: 45%;
    background-color: blanchedalmond;
}

.select-cont select {
    position: absolute;
    color: black;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
}

select, option {
    font-weight: bold;
    cursor: pointer;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: block;
}

.shadow .lose {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FBF8F0;
}

.shadow .lose h2 {
    margin-right: 2em;
    margin-left: 2em;
    text-align: center;
    font-family: monospace;
}

.restart-cont {
    left: 50%;
    display: block;
    margin: auto;
}

.hidden {
    display: none;
}

.timer-cont {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
    width: 50%;
    height: 50%;
}

.timer-cont h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

